.login-screen {
    .logotype {
        width: 50%;
        margin: 5vh 25%;
    }

    .login-screen-title {
        font-size: 8vw;
    }

    .content-block {
        left: 0;
        right: 0;
    }
}
